In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Obs' : [1, 2, 3, 4, 5, 6],
    'X1' : [0, 2, 0, 0, -1, 1],
    'X2' : [3, 0, 1, 1, 0, 1],
    'X3' : [0, 0, 3, 2, 1, 1],
    'Y' : ['Red', 'Red', 'Red', 'Green', 'Green', 'Red']
}

df = pd.DataFrame(data)

print(df)

   Obs  X1  X2  X3      Y
0    1   0   3   0    Red
1    2   2   0   0    Red
2    3   0   1   3    Red
3    4   0   1   2  Green
4    5  -1   0   1  Green
5    6   1   1   1    Red

In [4]:
# create a new dataframe contatining X1, X2 and X3

df_new = df[['X1', 'X2', 'X3']] # select multiple columns 

print(df_new)

   X1  X2  X3
0   0   3   0
1   2   0   0
2   0   1   3
3   0   1   2
4  -1   0   1
5   1   1   1

In [5]:
# compute the row-wise euclidean distance from the origin

dist = np.sum(df_new ** 2, axis = 1)**0.5 # axis = 1 for sum across columns for each row.

print(dist)

0    3.000000
1    2.000000
2    3.162278
3    2.236068
4    1.414214
5    1.732051
dtype: float64

In [6]:
df['distance'] = dist

print(df)

   Obs  X1  X2  X3      Y  distance
0    1   0   3   0    Red  3.000000
1    2   2   0   0    Red  2.000000
2    3   0   1   3    Red  3.162278
3    4   0   1   2  Green  2.236068
4    5  -1   0   1  Green  1.414214
5    6   1   1   1    Red  1.732051

In [7]:
# find the neareast neighbour 

df.nsmallest(1, 'distance')

   Obs  X1  X2  X3      Y  distance
4    5  -1   0   1  Green  1.414214

In [8]:
# find 3 neareast neighbours

df.nsmallest(3, 'distance')

   Obs  X1  X2  X3      Y  distance
4    5  -1   0   1  Green  1.414214
5    6   1   1   1    Red  1.732051
1    2   2   0   0    Red  2.000000